# Python cache
__pycache__/
*.pyc
__inital.py

# Node modules (if you’re using JS frontend)
node_modules/
static/css/output.css

# Environment files
.env

# Logs
*.log

# Django local database
db.sqlite3

# OS files
.DS_Store
Thumbs.db

#No pycharm files come thru 
.idea_

#Media files
media/