# Python cache
__pycache__/
*.pyc

venv/

# Node modules (if you’re using JS frontend)
node_modules/

# Environment files
.env

# Logs
*.log

# Django local database
db.sqlite3

# OS files
.DS_Store
Thumbs.db

#No pycharm files come thru 
.idea
.vscode/


#No node modules (TailwindCSS)
node_modules/
