{% extends "base.html" %}
{% block content %}

<div class="min-h-screen bg-white px-20 py-12">
  <h2 class="text-3xl font-semibold text-[#243251] mb-8">My Applications</h2>

  {% if applications %}
  <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
    {% for app in applications %}
    <div class="p-6 border border-gray-200 rounded-[30px] shadow-sm hover:shadow-md transition bg-white">
      <h3 class="text-xl font-semibold text-[#243251]">{{ app.job.title }}</h3>
      <p class="text-gray-600 mb-1">{{ app.job.company_name }}</p>
      <p class="text-gray-500 mb-3">{{ app.job.location }}</p>

      {% if app.final_decision == "hired" %}
        <span class="px-3 py-1 rounded-full text-sm font-semibold bg-green-100 text-green-700">
          Accepted
        </span>

      {% elif app.final_decision == "rejected" %}
        <span class="px-3 py-1 rounded-full text-sm font-semibold bg-red-100 text-red-700">
          Rejected
        </span>

      {% else %}
        {% if app.status == "applied" %}
          <span class="px-3 py-1 rounded-full text-sm font-semibold bg-blue-100 text-blue-700">
            Applied
          </span>

        {% elif app.status == "review" %}
          <span class="px-3 py-1 rounded-full text-sm font-semibold bg-yellow-100 text-yellow-700">
            In Review
          </span>

        {% elif app.status == "interview" %}
          <span class="px-3 py-1 rounded-full text-sm font-semibold bg-purple-100 text-purple-700">
            Interview
          </span>

        {% elif app.status == "closed" %}
          <span class="px-3 py-1 rounded-full text-sm font-semibold bg-gray-200 text-gray-700">
            Closed
          </span>
        {% endif %}
      {% endif %}
    </div>
    {% endfor %}
  </div>
  {% else %}
  <p class="text-gray-500">You haven’t applied to any jobs yet.</p>
  {% endif %}
</div>

{% endblock %}
